* {
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}



body {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(./img/john-mcarthur-ROQzKIAdY78-unsplash.jpg);
  background-size: cover;
  background-position: top;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

h1 {
  margin: 0;
  margin-bottom: 1.5rem;
  color: #fff;
}

.input {
  border: 1px solid #333;
  border-radius: .3em;
  padding: .25rem;
  width: 7em;
}

select {
  margin-left: .5rem;
  padding: .25rem;;
}

.equals {
  font-weight: bold;
  font-size: 2.5rem;
  color:#fff;
}